@model StockMVC.Models.OtherDebit

@{
    ViewData["Title"] = "Deleted";
}

<h2>Deleted</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Please note that Credit or Debit attached to this transaction will be reversed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DebitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DebitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.debitMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.debitMode.ModeOfDebit)
        </dd>
    </dl>
    
    <form asp-action="Deleted">
        <input type="hidden" asp-for="DebitId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="OtherDebitList">Back to List</a>
    </form>
</div>
